*.xcframework filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/AirSnapFingerUI.framework/AirSnapFingerUI filter=lfs diff=lfs merge=lfs -text
*.car filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.swiftsourceinfo filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.swiftinterface filter=lfs diff=lfs merge=lfs -text
*.swiftdoc filter=lfs diff=lfs merge=lfs -text
*.modulemap filter=lfs diff=lfs merge=lfs -text
/AirsnapFaceCore.framework/AirsnapFaceCore filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.param filter=lfs diff=lfs merge=lfs -text
/AirsnapFaceUI.framework/AirsnapFaceUI filter=lfs diff=lfs merge=lfs -text
*.swiftmodule filter=lfs diff=lfs merge=lfs -text
/AirsnapFaceUI.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.mnn filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
/MNN.framework/MNN filter=lfs diff=lfs merge=lfs -text
/MNN.framework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/MNN.framework/_CodeSignature/CodeRequirements filter=lfs diff=lfs merge=lfs -text
/MNN.framework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/MNN.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/MNN.framework/_CodeSignature/CodeSignature filter=lfs diff=lfs merge=lfs -text
/opencv2.xcframework/ios-arm64/opencv2.framework/opencv2 filter=lfs diff=lfs merge=lfs -text
/openmp.framework/openmp filter=lfs diff=lfs merge=lfs -text
